/*
  Colors: http://getuicolors.com
*/

/* Setup */
:root {
  --black: #000000;
  --almost-black: #242424;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #3ca0f8;
  --primary-dark: #1a1a1a;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
  --green: #019908;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--almost-white);
  background: var(--primary-dark);
}

/* Typography */
.center {
  text-align: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  bottom: 0%;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--almost-white);
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--almost-white);
}

p {
  margin: 24px 0;
}

/* Cards */
.card-wrapper {
  margin: 0 auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--almost-black);
}

.full-card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 80%;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--almost-black);
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}

.home-form form {
  width: 320px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: var(--primary);
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep, .sep {
  background: var(--primary);
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

.sep-left {
  background: var(--primary);
  box-shadow: none;
  border: none;
  height: 2px;
  width: 100%;
  margin: 0px auto 45px auto;
}

.group {
  position: relative;
  margin: 45px 0;
}

/* .group-row {
  display: flex;
  float: left;
} */

.insert-data-form {
  width: 100%;
}

.group input {
  background: none;
  color: var(--grey-dark);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--almost-white);
}

.group input:focus {
  outline: none;
}

.group input:focus ~ label, .group input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: var(--primary);
}

.group input:focus ~ .bar:before {
  width: 320px;
}

.group input[type=password] {
  letter-spacing: 0.3em;
}

.group input:valid {
  color: var(--white)
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--primary);
  transition: 300ms ease all;
  left: 0%;
}

.home-btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--primary);
  outline: none;
  transition: 1s ease-in-out;
  color: var(--white);
}

.home-btn:hover {
  transition: 1s ease-in-out;
  background: var(--primary);
}

/* Snowflakes */

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: #CCC;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 20px;
  height: 3px;
  z-index: -1;
}

/* Nav Bar  */

.topnav {
  overflow: hidden;
  background-color: var(--almost-black);
  color: var(--primary);
}

.topnav h3 {
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  text-decoration: none;
  font-size: 25px;
}

.topnav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right { 
  float: right;
  padding-right: 15px;
}

#topnav-signout {
  font-size: 50px;
  color: var(--primary);
  bottom: 0%;
  margin-top: 15px;
  border: 0;
}

#topnav-signout:hover {
  color: var(--red);
}

.botnav {
  width: 10%;
  background-color: var(--almost-white);
  color: var(--primary);
  float: none;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1;
  border-radius: 25px;
}

.botnav a {
  border: 1px #ffffff solid;
}

.insert-select {
  position: relative;
  color: var(--almost-black);
  padding: 0.5em 2em 0.5em 0.5em;
  font: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

select:hover {
  background-image: linear-gradient(var(--primary), var(--primary)),
    linear-gradient(-135deg, transparent 50%, var(--primary) 50%),
    linear-gradient(-225deg, transparent 50%, var(--primary) 50%),
    linear-gradient(var(--primary) 42%, var(--green) 42%);
}

select:focus {
  outline: none;
}


.insert-form-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: var(--almost-black);
  color: var(--primary);
  justify-content: center;

}

.insert-form-container input {
  text-decoration: none;
  font-size: 25px;
  padding-left: 10px;
}

.insert-form-container-right { 
  float: right;
  padding-right: 15px;
  
}

.insert-form-container input:focus {
  outline: none;
}

.insert-form-container-center input[type=text]{
  width: 120px;
} 