:root {
  --black: #000000;
  --almost-black: #242424;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #3ca0f8;
  --primary-dark: #1a1a1a;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
  --green: #019908;
}

.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
	background:var(--almost-black);
	padding: 20px 25px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {        
	padding-bottom: 10px;
	background: var(--almost-black);
	color: #fff;
	min-width: 100%;
	margin: -20px -25px 10px;
}

.table-title h2 {
	display: inline-block;
	padding-left: 15px;
	text-decoration: none;
	font-size: 25px;
	padding-top: 30px;
}

.table-title .table-btn {
	color: var(--almost-white);
	font-size: 13px;
	border: none;
	outline: none !important;
}

.table-title .table-btn i {
	font-size: 21px;
}

.table-title .table-btn span {
	float: left;
}

.table-btn span:hover {
	transition: 0.5s ease-in-out;
  	color: var(--black);
}

.table-row {
    overflow: hidden;
}

.table-btn-right {
	float: right;
	justify-content: center;
	align-items: center;
}

.table-btn, a {
    width: 50px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
}

.table-btn:hover {
    transition: 1s ease-in-out;
    background: var(--primary);
}

table.table {
	width: 100%;
	text-align: center;
}

table.table tr th, table.table tr td {
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr {
	color: var(--almost-black);
}

table.table th {
	color: var(--almost-white);
}

table.table-striped tbody tr:nth-of-type(odd) {
	background-color: var(--grey-light);
}

table.table-striped tbody tr:nth-of-type(even) {
	background-color: var(--grey);
}

table.table-striped.table-hover tbody tr:hover {
	background: var(--primary);
	color: var(--almost-white);
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	

table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a {
	font-weight: bold;
	outline: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	bottom: 0%;
}

table.table td a:hover {
	color: #2196F3;
}

table.table td a.edit {
	color: #FFC107;
}

table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}

table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}