{% extends "base.html" %}

{% block nav %}
  <div class="topnav">
   
    <h3>Hello, {{ session['user']['name'] }}!</h3>

    <div class="topnav-center">
      <p id="date">SSSS</p> 
      
    </div>

    <div class="topnav-right">
      <a id="topnav-signout" href="/user/signout"><span class="fa fa-sign-out" style="margin-top: 15px"></span></a>
    </div>

  </div>
{% endblock %}

{% block content %}

  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <hr class="sep" />
      <p class="center">You are currently logged in.</p>
     
        
      
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>
      <hr class="sep" />

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div>
  
  </div>

  
  <div class="card-wrapper">
    <div class="full-card" style="padding-bottom: 50px;">
      <div class="wrapper">

        <h2 class="center">Insert Data </h2>
        <hr class="sep" />
        <form name="insert_form" class="insert-data-form">
          <div class="insert-form-container">
            <input type="text" name="item" placeholder="Item.." required />
            
              <select name="type" class="insert-select" required>
                <option value="" selected disabled hidden>Choose here</option>
                <option value="Alcohol">Alcohol</option>
                <option value="Groceries">Groceries</option>
                <option value="Car">Car</option>
                <option value="House">House</option>
                <option value="Rent">Rent</option>
                <option value="Other">Other</option>
              </select>
              
              <input type="number" step="any" min="0" placeholder="Price.." name="price" required />

            <p class="error error--hidden"></p>
            <input type="submit" value="Insert" class="home-btn" />
        
          </div>
        </form>
      </div>
    </div> 
  </div>

  <div class="card-wrapper">
    <div class="full-card">
      <div class="wrapper">
        <div class="table-responsive">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="table-row">
                    <h2>Recent Spending Data</h2>
                    <div class="table-btn-right">
                      <form name="reloadspendingtable_form" method="POST">
                        <div class="insert-form-container-right">
                          <p class="error error--hidden"></p>
                          <input type="submit" value="Reload Table" class="home-btn" />
                        </div>
                      </form>
                    </div>
                </div>
              </div>
              <hr class="sep-left" />
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="width:55%">Purchased Items</th>
                  <th style="width:25%">Type</th>
                  <th style="width:10%">Price</th>
                  <th style="width:10%">Date</th>
                </tr>
              </thead>
              <tbody id="result">
                <tr>
                  <td>Example</td>
                  <td>Example</td>
                  <td>99.99</td>
                  <td>2020-01-10</td>
                </tr>
                <tr>
                  {% for row in datat %}
                    {% for cell in row %}
                      <td>{{ cell }}</td>
                    {% endfor %}
                  {% endfor %}
                </tr>
                <p class="error error--hidden"></p>
              </tbody>
            </table>
        </div>
         </div>


      </div>
    </div>
  </div>
  

  <script>
    $('[data-toggle="tooltip"]').tooltip();
    clock();
    
    function clock() {
      n =  new Date();
      y = n.getFullYear();
      m = n.getMonth() + 1;
      d = n.getDate();
      h = n.getHours();
      min = n.getMinutes();
      s = n.getSeconds();

      // Check if below 10
      min = checkTime(min);
      s = checkTime(s);

      document.getElementById("date").innerHTML = d + "/" + m + "/" + y + " " + h + ":" + min + ":" + s;
      setTimeout(clock, 1000);
    }

    function checkTime(i) {
      if (i < 10 ) {
        i = "0" + i
      };
      return i;
    }
  </script>
{% endblock %}