{% extends "base.html" %}

{% block nav %}
  <div class="topnav">
   
    <h3>Hello, {{ session['user']['name'] }}!</h3>

    <div class="topnav-center">
      <p id="date">SSSS</p> 
      
    </div>

    <div class="topnav-right">
      <a id="topnav-signout" href="/user/signout"><span class="fa fa-sign-out" style="margin-top: 15px"></span></a>
    </div>

      

    <!-- <div class="topnav-right">
      <a href="/user/signout">Sign Out</a>
    </div> -->

  </div>
{% endblock %}

{% block content %}

  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <hr class="sep" />
      <p class="center">You are currently logged in.</p>
     
        
      
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>
      <hr class="sep" />

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div>
  
  </div>

  <script>
    clock();
    
    function clock() {
      n =  new Date();
      y = n.getFullYear();
      m = n.getMonth() + 1;
      d = n.getDate();
      h = n.getHours();
      min = n.getMinutes();
      s = n.getSeconds();

      // Check if below 10
      min = checkTime(min);
      s = checkTime(s);

      document.getElementById("date").innerHTML = d + "/" + m + "/" + y + " " + h + ":" + min + ":" + s;
      setTimeout(clock, 1000);
    }

    function checkTime(i) {
      if (i < 10 ) {
        i = "0" + i
      };
      return i;
    }
  </script>
{% endblock %}