{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
  <div class="card">

    <div class="wrapper">
      <form name="signup_form" class="home-form">
        <h2 class="center">Create an Account</h2>
        <hr class="sep" />

        <div class="group">
          <input type="text" name="name" required /><span class="highlight"></span><span class="bar"></span>
          <label for="name">Name</label>
        </div>

        <div class="group">
          <input type="email" name="email" required /><span class="highlight"></span><span class="bar"></span>
          <label for="email">Email</label>
        </div>

        <div class="group">
          <input type="password" name="password" required /><span class="highlight"></span><span class="bar"></span>
          <label for="password">Password</label>
        </div>

        <p class="error error--hidden"></p>
        <div class="vertical-center">
          <input type="submit" value="Sign Up" class="home-btn" />
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="wrapper">
      <form name="login_form" class="home-form">
        <h2 class="center">Log In</h2>
        <hr class="sep" />

        <div class="group">
          <input class="email" name="email" type="email" required="required" /><span class="highlight"></span><span
            class="bar"></span>
          <label for="email">Email</label>
        </div>

        <div class="group">
          <input class="password" name="password" type="password" required="required" /><span
            class="highlight"></span><span class="bar"></span>
          <label for="password">Password</label>
        </div>

        </br>
        <p class="error error--hidden"></p>
        <p style="margin-bottom: 57px;"> </p>
        <div class="vertical-center">
          <input type="submit" value="Log In" class="home-btn">
        </div>
      </form>
    </div>
  </div>
</div>

 
{% endblock %}